@font-face {
    font-family: HelveticaNeue, LeagueGothicRegular, OpenSans-ExtraBold, Montserrat-bold, Roboto-black-italic;
    src: url(/fonts/helveticaneue-thin-webfont.woff) format("woff"),
    src: url(/fonts/helveticaneue-thin-webfont.woff2) format("woff2"),
    src: url(/fonts/LeagueGothicRegular.woff) format("woff"),
    src: url(/fonts/Montserrat-bold.woff2) format("woff2"),
    src: url(/fonts/Roboto-black-italic.woff2) format("woff2"),
    src: url( /fonts/OpenSans-ExtraBold.ttf) format("ttf");
}

body {
  margin: 40px 60px;
  font-family: Roboto-black-italic;
  font-size: 20px;
}

#crumbs {
  padding-bottom: 80px;
  font-size: inherit;
}

#crumbs ul {
  margin: 0;
  padding: 0;
}

#crumbs ul li a {
  float: left;
  background: #00bddb;
  text-align: center;
  padding: 16px 50px;
  position: relative;
  margin: 0 10px 0 0;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
#crumbs ul li{
  list-style: none;
}

#crumbs ul li a::after {
  content: "";
  border-top: 29px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 20px solid #00bddb;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 2;
}

#crumbs ul li a::before {
  content: "";  
  border-top: 29px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 20px solid #fff;
  position: absolute; 
  left: 0; 
  top: 0;    
}

#crumbs ul li:first-child a {
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
}
#crumbs ul li:first-child a::before {
  display: none; 
}
 
#crumbs ul li:last-child a {
  margin-right: 0;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  background: #1d3e8a;
}

#crumbs ul li:last-child a::after {
  display: none;
}

#crumbs ul li a:hover {
    background: #1d3e8a;
}

#crumbs ul li a:hover::after {
    border-left-color: #1d3e8a;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 50px;
  cursor: pointer;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ccc8c8;
}

.container input:checked ~ .checkmark::after {
  display: block;
}

.container input:not(:checked) ~ .checkmark::after {
  display: block;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bdbaba;
}

.container .checkmark::after {
  display: block;
}

.container .checkmark::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #008000;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #008000;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: 30px;
  margin-left: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #24bb22;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider{
  border-radius: 34px;
}

.slider::before {
  border-radius: 50%;
}

