body {
	margin: 0;
}
header {
	.header-block {
		background-color: #000;
		background-size: cover;
		height: 530px;
		#header-block__logo {
			height: 110px;
			a {
				img {
					height: 60px;
					position: absolute;
					left: -30%;
					top: 70%;
					display: block;
					transform: rotate(-65deg);
				}
			}
			div {
				position: relative;
				margin-left: 60%;
				padding-top: 30px;
				span {
					position: absolute;
				    left: 110%;
				    font-size: 14px;
					color: #797878;
				}
				button {
			        width: 95%;
			        height: 10px;
    				font-size: 0;
			        margin-bottom: 10px;
			        border: 0;
			        border-radius: 4px;
			        background-color: #282727;
			        color: #797878;
			        cursor: pointer;
			        &:hover {
			            background-color: #ffffff3b;
			            color: #fffffff0;
			           	height: 35px;
			           	font-size: 11px;
			            transition: 1s;
			        }
			        &:focus {
				        border: none;
				        outline: none;
			        }
			    }
			    button:last-child {
			        display: none;
			    }
			}
		}
		#header-block__sign {
			display:none;
			@include registrations-batton-header;
		}
		#header-block__registration {
			display:none;
			@include registrations-batton-header;
		}
		.header-block__menue-button {
			display: block;
			position: absolute;
			top: 15px;
			left: 5%;
		    width: 65px;
		    cursor: pointer;
		    span {
		        display: block;
		        margin: 0 auto;
			    height: 1px;
			    width: 95%;
			    background: #ffffff;
			    margin-top: 5px;
			    &:nth-of-type(2) {
    				width: 35.38%;
				}
				&:nth-of-type(3) {
    				width: 81.53%;
				}
				&:nth-of-type(4) {
    				width: 63.07%;
				}
		    }
		    &:hover span {
		    text-align: center;
		    	width: 70%;
		    	&:nth-of-type(2) {
    				width: 50%;
				}
				&:nth-of-type(3) {
    				width: 30%;
				}
				&:nth-of-type(4) {
    				width: 10%;
				}
		    }
		}
		.header-block__nav_menu {
			display: none;
		}

		.header-block__nav-menu-480-320 {
			position: absolute;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    display: none;
		    padding: 130px 0;
		    margin: 0;
		    text-align: center;
		    font-size: 20px;
		    background: #523131ed;
		    li {
			    display: block;
			    box-sizing: border-box;
			    list-style-type: none;
			    height: 60px;
			    margin: 0 auto;
    			width: 140px;
    			&:hover {
    				width: 200px;
    				transition: 1s;
    			}
			    a {
			        display: block;
			        text-decoration: none;
			        color: #ffffff;
			    span {
			        display: block;
			        letter-spacing: 3px;
			        padding-bottom: 3px;
			        border-bottom: 2px solid;
			    	letter-spacing: 5px;
			    }
			}
		}
    }

		.header-block__search{
			display: none;
			form {
				position: relative;
				width: 230px;
				margin: 0 auto;
				input{
					width: 100%;
					height: 30px;
					padding-left: 10px;
					border: 2px solid #7BA7AB;
					border-radius: 5px;
					outline: none;
					background: #F9F0DA;
					color: #9E9C9C;
				}
				button{
					position: absolute; 
					right: 0;
					width: 30px;
					height: 30px;
					border: none;
					background: #7BA7AB;
					border-radius: 0 5px 5px 0;
					cursor: pointer;
					&:before {
						background: url('../img/search-icon.png') no-repeat;
						content: "";
						height: 20px;
						display: block;
						background-size: 16px;
					}
				}
			}
		}
	}
	.header-block__under-logo {
		position: absolute;
	    bottom: 5px;
	    left: 10px;
		img {
			width: 150px;
		}
	}
}

