body {
	margin: 0;
}
header {
	.header-block {
		position: relative;
		background-color: #000;
		background-size: cover;
		height: 530px;
		#header-block__logo {
			a {
				img {
					height: 50px;
					position: absolute;
					left: -30%;
					top: 230px;
					display: block;
					transform: rotate(-65deg);
				}
			}
			div {
				margin-left: 60%;
				padding-top: 20px;
				span {
					position: absolute;
				    left: 40%;
				    top: 50%;
				    font-size: 16px;
					color: #797878;
				}
				button {
			        width: 95%;
			        height: 35px;
			        margin-bottom: 18px;
			        border: 0;
			        border-radius: 4px;
			        background-color: #282727;
			        color: #797878;
			        cursor: pointer;
			        &:hover {
			            background-color: #ffffff3b;
			            color: #fffffff0;
			            transition: 1s;
			        }
			        &:focus {
				        border: none;
				        outline: none;
			        }
			    }
			    button:last-child {
			        display: none;
			    }
			}
		}
		#header-block__sign {
			display:none;
			@include registrations-batton-header;
		}
		#header-block__registration {
			display:none;
			@include registrations-batton-header;
		}
		.header-block__menue-button {
			display: none;
			position: fixed;
		    top: 10px;
		    right: 20px;
		    width: 65px;
		    cursor: pointer;
		    span {
		        display: block;
		        margin: 0 auto;
			    height: 1px;
			    width: 95%;
			    background: #ffffff;
			    margin-top: 5px;
			    &:nth-of-type(2) {
    				width: 35.38%;
				}
				&:nth-of-type(3) {
    				width: 81.53%;
				}
				&:nth-of-type(4) {
    				width: 63.07%;
				}
		    }
		    &:hover span {
		    text-align: center;
		    	width: 70%;
		    	&:nth-of-type(2) {
    				width: 50%;
				}
				&:nth-of-type(3) {
    				width: 30%;
				}
				&:nth-of-type(4) {
    				width: 10%;
				}
		    }
		}
		.header-block__nav_menu {
			display: none;
		}

		.header-block__nav-menu-480-320 {
			display: block;
	        position: relative;
	        padding-left: 42%;
    		margin: 30px 0 0 auto;
	        &:hover {
        		border-radius: 7px 7px 0 0;
        		padding-left: 42%;
    		}
    		&:hover .header-block__nav-menu-480-320__inner {
        		display: block;
    		}
    		a {
		        display: block;
		        text-decoration: none;
		        color: #ffffff;
    		}
	        li {
			    display: block;
			    box-sizing: border-box;
			    list-style-type: none;
			    height: 20px;
				.header-block__nav-menu-480-320__head-link {
				   	.head-span {
						display: block;
					    width: 46px;
					    border-bottom: 2px solid #ffffff;
			    	}
				}
			}
			.header-block__nav-menu-480-320__inner {
				display: none;
		        position: absolute;
		        padding: 0;
		        z-index: 2;
		        li {
		        	padding-left: 0;
			        height: 30px;
			        border-bottom: 2px solid rgba(0, 0, 0, 0);
			        a {
		        		padding-top: 9px;
		        		span {
		        			border-bottom: 2px solid rgba(0, 0, 0, 0);
		        			&:hover {
		        				border-bottom: 2px solid #c8c8c8fc;
		        			}
		        		}
			        }
		        }
			}
		}
		.header-block__search{
			display: none;
			form {
				position: relative;
				width: 230px;
				margin: 0 auto;
				input{
					width: 100%;
					height: 30px;
					padding-left: 10px;
					border: 2px solid #7BA7AB;
					border-radius: 5px;
					outline: none;
					background: #F9F0DA;
					color: #9E9C9C;
				}
				button{
					position: absolute; 
					right: 0;
					width: 30px;
					height: 30px;
					border: none;
					background: #7BA7AB;
					border-radius: 0 5px 5px 0;
					cursor: pointer;
					&:before {
						background: url('../img/search-icon.png') no-repeat;
						content: "";
						height: 20px;
						display: block;
						background-size: 16px;
					}
				}
			}
		}
	}
	.header-block__under-logo {
		position: absolute;
	    bottom: 5px;
	    left: 10px;
		img {
			width: 150px;
		}
	}
}

