main {
	background: #000;
	color: $main-color;
      button {
        width: 140px;
        margin-top: 8px;
        height: 10px;
        font-size: 0;
        border: 0;
        border-radius: 4px;
        background-color: #282727;
        color: #797878;
        cursor: pointer;
        &:hover {
          width: 160px;
          height: 35px;
          font-size: 11px;
          border-radius: 10px;
          background-color: #ffffff3b;
          color: #fffffff0;
          transition: 1s;
        }
        &:focus {
          border: none;
          outline: none;
        }
    }
	.add-article {
		text-align: center;
		width: 90%;
		height: 200px;
    	margin: 0 auto;
    	padding-top: 25px;
    	box-shadow: 0 33px 14px -14px #d2c4c4;
		input[type=text]:focus,
		textarea:focus,
		select:focus {
		    font-size: 11px;
			border-bottom: .5px solid $main-color;
			border-left: none;
			border-right: none;
			border-top: none;
			outline: none;
			background: #282727;
			box-shadow: 0 0 10px 2px $main-color;
		}
		input[type="text"],
		textarea {
		    font-size: 11px;
			width: 90%;
			margin: 8px;
			padding: 10px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
		}
		select {
			font-size: 11px;
			width: 65%;
			padding: 10px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
		}
	      button {
	        width: 140px;
	        margin-top: 8px;
	        height: 10px;
	        font-size: 0;
	        border: 0;
	        border-radius: 4px;
	        background-color: #282727;
	        color: #797878;
	        cursor: pointer;
	    }
	}
	.filter-article {
		text-align: center;
		margin: 75px 0;
		label {
			font-size: 16px;
			display: block;
    		text-align: center;
		}
		select {
			font-size: 11px;
			letter-spacing: 3px;
			width: 45%;
			padding: 10px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
			option {
				letter-spacing: 3px;
			}
		}
	}
	#result {
		/*position: relative;
	    width: 90%;
	    height: 500px;*/
   		margin: 0 auto;
		.result__render-article {
			/*height: 245px;
			&:hover {
				position: absolute;
				top: 0;
				margin: 0;
				height: 505px;
				border: 1px solid $main-color;
				border-radius: 6px;
		    	background: black;
		    	box-shadow: 0 0 95px -10px #d2c4c4;
		    	transition: 1s;
		    	z-index: 3;
	    	}

    		&:hover .article {
        		display: block;
    		}
    		&:hover .coment-block {
        		display: block;
    		}
    		h2 {
    			text-align: center;
    			text-decoration: underline;
    		}
    		a {
    			display: block;
    		}
    		.article {
    			display: none;
    		}
    		span {
    		    display: block;
				text-align: right;
				&:after {
					content: '\2764';
					dispaly: block;
					height: 30px;
				}
    		}*/
    		.time {
    			font-size: 11px;
    		}
		   	.coment-block {
		   		/*display: none;*/
				input[type=text]:focus,
				textarea:focus,
				select:focus {
			        border-bottom: .5px solid $main-color;
			        border-left: none;
			        border-right: none;
			        border-top: none;
			        outline: none;
			        background: #282727;
			        box-shadow: 0 0 10px 2px $main-color;
			    }
			    input[type="text"],
			    textarea {
			        width: 256px;
			        margin: 8px;
			        padding: 10px;
			        transition: .30s ease-in-out;
			        border: none;
			        border-bottom: .5px solid $main-color;
			        background: #000;
			        color: #fff;
			    }
			    .coment-block__coment-user {
			    	/*textarea {
			    		position: absolute;
					    top: 27px;
					    left: 0;
					    margin: 0;
					    padding: 1px 0 0;
			    	}
			    	button {
			    		position: absolute;
					    left: 0;
					    top: 58px;
			    	}*/
			    }
			}
		}
	}
	#pagination-block {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 20px;
		a {
		    display: block;
		   	border-top: 1px solid #5c00ff00;
	    	border-bottom: 1px solid #5c00ff00;

		    color: #5c00ffba;
		    text-decoration: none;
		    margin-left: 5px;
		    padding: 3px;
		    &:hover {
		  		cursor: pointer;
			    border-top: 1px solid #5c00ffba;
	    		border-bottom: 1px solid #5c00ffba;
		    }
		}
	}
}