main {
	background: #000;
	color: $main-color;
      button {
        width: 140px;
        margin-top: 8px;
        height: 10px;
        font-size: 0;
        border: 0;
        border-radius: 4px;
        background-color: #282727;
        color: #797878;
        cursor: pointer;
        &:hover {
          width: 160px;
          height: 35px;
          font-size: 11px;
          border-radius: 10px;
          background-color: #ffffff3b;
          color: #fffffff0;
          transition: 1s;
        }
        &:focus {
          border: none;
          outline: none;
        }
    }
	.add-article {
		text-align: center;
		width: 90%;
		height: 200px;
    	margin: 0 auto;
    	padding-top: 25px;
    	box-shadow: 0 33px 14px -14px #d2c4c4;
		input[type=text]:focus,
		textarea:focus,
		select:focus {
		    font-size: 11px;
			border-bottom: .5px solid $main-color;
			border-left: none;
			border-right: none;
			border-top: none;
			outline: none;
			background: #282727;
			box-shadow: 0 0 10px 2px $main-color;
		}
		input[type="text"],
		textarea {
		    font-size: 11px;
		    letter-spacing: 10px;
			width: 90%;
			margin: 8px;
			padding: 10px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
		}
		select {
			font-size: 11px;
			letter-spacing: 10px;
			width: 65%;
			padding: 10px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
		}
	      button {
	        width: 140px;
	        margin-top: 8px;
	        height: 10px;
	        font-size: 0;
	        border: 0;
	        border-radius: 4px;
	        background-color: #282727;
	        color: #797878;
	        cursor: pointer;
	    }
	}
	.filter-article {
		text-align: center;
		margin: 75px 0;
		label {
			font-size: 16px;
			display: block;
    		text-align: center;
		}
		select {
			font-size: 11px;
			letter-spacing: 5px;
			width: 40%;
			padding: 8px;
			transition: .30s ease-in-out;
			border: none;
			border-bottom: .5px solid $main-color;
			background: #000;
			color: #fff;
			option {
				letter-spacing: 3px;
			}
		}
	}
	#result {
	    width: 90%;
	    height: 100%;
   		margin: 0 auto;
   		box-shadow: 0 -20px 14px -17px #d2c4c4;
		.result__render-article {
			padding-top: 10px;
			box-shadow: 0 -20px 14px -17px #d2c4c4;
			.article-block {
				h2 {
					color: #3bb6ee59;
					cursor: pointer;
				}
			    .time {
	    			font-size: 11px;
	    		}
	    		.article {
	    			height: 100px;
	    			margin-bottom: 0;
	    			overflow: hidden;
	    		}
	    		span {
	    			display: block;
	    			text-align: right;
				    margin-bottom: 10px;
	    			&:after {
	    				content: '\2764';	
	    				margin-left: 3px;
	    			}
	    		}
    		}
		   	.coment-block {
		   		display: none;
				input[type=text]:focus,
				textarea:focus,
				select:focus {
			        border-bottom: .5px solid $main-color;
			        border-left: none;
			        border-right: none;
			        border-top: none;
			        outline: none;
			        background: #282727;
			        box-shadow: 0 0 10px 2px $main-color;
			    }
			    input[type="text"],
			    textarea {
			        width: 200px;
			        margin: 10px 0 0 15px;
			        padding: 10px;
			        padding-bottom: 0;
			        transition: .30s ease-in-out;
			        border: none;
			        border-bottom: .5px solid $main-color;
			        background: #000;
			        color: #fff;
			    }
			    .coment-block__coment-user {
			    	position: relative;
				    box-shadow: 0 -16px 23px -18px #d2c4c4;
				    margin-top: 30px;
    				height: 125px;
    				a {
    					display: block;
					    margin-top: 6px;
					    margin-left: 20px;
					    text-decoration: underline;
    				}
    				p {
					    text-align: left;
					    margin: 10px 0px 5px 5px;
					    border-bottom: 1px solid;
    				}
    				span {
    					margin-right: 10px;
    					font-size: 10px;
    					text-align: right;
    					display: block;
    				}
    				textarea {
						position: absolute;
						width: 94%;
					    top: 17px;
					    left: 0;
					    margin-left: 0;
					    padding-top: 0;
					    border: 0;
    				}
    				button {
						position: absolute;
					    top: 62px;
					    right: 50px;
					    margin-left: 0;
    				}
			    }
			}
		}
	}
	#pagination-block {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 20px;
		a {
		    display: block;
		   	border-top: 1px solid #5c00ff00;
	    	border-bottom: 1px solid #5c00ff00;

		    color: #5c00ffba;
		    text-decoration: none;
		    margin-left: 5px;
		    padding: 3px;
		    &:hover {
		  		cursor: pointer;
			    border-top: 1px solid #5c00ffba;
	    		border-bottom: 1px solid #5c00ffba;
		    }
		}
	}
}