@font-face {
  font-family: 'league-gothic.condensed-regular';
  src: url('../fonts/league-gothic.condensed-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'league-gothic.regular';
  src: url('../fonts/LeagueGothicRegular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

body {
  background: #ccc5c5;
}

header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'league-gothic.regular';
  font-size: 43px;
}

header h1:hover {
  color:#12658acf;
}

nav {
  position: fixed;
  left: -200px;
  height: 100%;
  width: 225px;
  top: 0;
  overflow: auto;
  background: #a9e5ffd1;
  font-family: 'league-gothic.regular';
  border-radius: 0 40px 40px 0;
  transition: 1s;
}

nav:hover {
  background: #12658acf;
  left: 0;
  transition: 1s;
}

nav ul {
  padding-left: 15%;
}

nav li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fbd194;
}

nav a:hover {
  font-style: italic;
  transition: 1s;
  text-decoration: underline;
}

nav h2 {
  text-align: center;
  color: #fbd194;
  text-decoration: underline;
}

article {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

article h2 {
  text-decoration: underline;
}

article header,
article section,
footer {
  font-family: 'OpenSans-Light';
  height: min-content;
}

article header a,
article section a,
footer a {
  color: #f0f8ff;
}

article header h2,
article section h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

article header:hover,
article section:hover {
  font-weight: bold;
  position: absolute;
  background: #6f8e6f;
  width: 95%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
  box-shadow: 0 0 15px 10px #a9e5ffd1;
  border-radius: 30px 30px;
}

article header p {
  width: 90%;
  margin: 25px auto;
}

article section ol {
  width: 80%;
  margin: 0 auto;
}

article section p {
  width: 90%;
  margin: 25px auto;
}

footer {
  text-align: center;
}