@mixin registrations-batton-header {
      text-align: center;
      input[type=text]:focus {
        border-bottom: .5px solid $main-color;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: none;
        background: #282727;
        box-shadow: 0 0 10px 2px $main-color;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"] {
          width: 256px;
          margin: 8px;
          padding: 10px;
          transition: .30s ease-in-out;
          border: none;
          border-bottom: .5px solid $main-color;
          background: #000;
          color: #fff;
      }

      input[type="password"]:focus,
      input[type="email"]:focus {
        border: none;
        border-bottom: .5px solid $main-color;
        outline: none;
        background: #282727;
        box-shadow: 0 0 10px 2px $main-color;
      }
      button {
        width: 140px;
        height: 30px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 4px;
        background-color: #282727;
        color: #797878;
        cursor: pointer;
        &:hover {
          width: 160px;
          height: 38px;
          border-radius: 10px;
          background-color: #ffffff3b;
          color: #fffffff0;
          transition: 1s;
        }
        &:focus {
          border: none;
          outline: none;
        }
    }
}
