body {
  background: grey;
}

.main-diablo {
  background: url('../img/back-big.png') no-repeat;
  background-size: 805px;
  height: 600px;
  width: 805px;
}

header {
  display: flex;
  padding-top: 56px;
  padding-left: 78px;
}

.heder__left-block {
  height: 434px;
  width: 326px;
  background: url('../img/bg_item.png') no-repeat; 
}

.header__right-block {
  width: 340px;
  height: 435px;
  background: url('../img/bg_item-right.png') no-repeat; 
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 27px;
}

.bg-block {
  display: flex;
  background: url(../img/bottom-line.png) bottom no-repeat;
  margin-top: 45px;
  width: 100%;
  background-size: contain;
}

.bg-block__red,
.bg-block__blue {
  width: 255px;
}

.bg-block__red::after {
  position: relative;
  top: 5px;
  display: block;
  content: "";
  background-image: url(../img/bottom-left.jpg);
  background-size: 49px 45px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

footer img {
  height: 95px;
  width: 98px;
  display: block;
}
