body {
  background: grey;
}

.main-diablo {
  background: url('../img/back-big.png') no-repeat;
  background-size: 805px;
  height: 600px;
  width: 805px;
}

header {
  display: flex;
  padding-top: 56px;
  padding-left: 78px;
}

.heder__left-block {
  position: relative;
  height: 434px;
  width: 326px;
  background: url('../img/bg_item.png') no-repeat; 
}

.header__left-block__top {
  margin: 20px 0 0 75px;
}

.header__left-block__center {
  background: url(../img/bg.png) no-repeat;
  width: 297px;
  margin-left: 17px;
  margin-top: 11px;
}

table {
  position: relative;
}

table td {
  border: 1px solid #b5acac;
}

.table__cube {
  position: absolute;
  top: 5px;
  left: 2px;
}

.header__left-block__top__input-first,
.header__left-block__top__input-second {
  display: block;
  height: 26px;
  width: 179px;
}

.header__left-block__bottom {
  position: absolute;
  bottom: 11px;
  left: 275px;
}

.header__right-block__center {
  position: absolute;
  top: 208px;
  left: 13px;
  background: url(../img/cubic-block.png) no-repeat;
  background-size: 299px;
  width: 299px;
  height: 181px;
}

.header__right-block {
  position: relative;
  width: 340px;
  height: 435px;
  background: url('../img/bg_item-right.png') no-repeat; 
}

.header__right-block__top {
  display: flex;
  margin-top: 6px;
  margin-left: 13px;
}

.header__right-block__top img {
  display: block;
}

.header__right-block__top__first,
.header__right-block__top__second,
.header__right-block__top__third {
  position: relative;
  width: 117px;
  height: 200px;
}

.header__right-block__top__first__gold-ring,
.header__right-block__top__second__gold-ring {
  position: absolute;
  top: 167px;
  left: 75px;
  height: 35px;
}

.header__right-block__top__first__digits,
.header__right-block__top__third__digits {
  height: 22px;
}

.header__right-block__top__first__gloves {
  height: 62px;
}

.header__right-block__top__second::after {
  position: absolute;
  top: -1px;
  left: -19px;
  content: "";
  background-image: url(../img/triangle.png);
  background-size: 19px 11px;
  width: 21px;
  height: 11px;
}

.header__right-block__top__second__belt {
  height: 62px;
}

.header__right-block__top__second__armor {
  height: 93px;
}

.header__right-block__top__second__rope {
  height: 35px;
  margin-top: 11px;
}

.header__right-block__top__second__orange-ring {
  position: absolute;
  top: 27px;
  left: 75px;
  height: 35px;
}

.header__right-block__top__third {
  position: relative;
  left: 8px;
}

.header__right-block__top__third__staff {
  height: 117px;
}

.header__right-block__top__third__boots {
  position: absolute;
  left: 10px;
  height: 61px;
}

.header__right-block__bottom {
  position: absolute;
  bottom: 9px;
  left: 14px;
}

.header__right-block__bottom__gear {
  height: 24px;
  position: absolute;
  left: 61px;
  top: 3px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 27px;
}

.bg-block {
  display: flex;
  background: url(../img/bottom-line.png) bottom no-repeat;
  margin-top: 45px;
  width: 555px;
  background-size: contain;
}

.bg-block__red,
.bg-block__blue {
  width: 255px;
  position: relative;
}

.bg-block__blue .bg-block__blue__botle {
  height: 35px;
  position: absolute;
  left: 41px;
  top: 13px; 
}

.bg-block__blue .bg-block__blue__btn {
  height: 35px;
  position: absolute;
  left: 177px;
  top: 13px; 
}

.bg-block__red .bg-block__red__btn {
  height: 35px;
  position: absolute;
  left: 84px;
  top: 13px; 
}

.bg-block__red__helth__block__top {
  left: 126px;
  top: 9px;
  position: absolute;
  height: 11px; 
}

.bg-block__red__helth__block__bottom {
  left: 129px;
  top: 22px;
  position: absolute;
  height: 25px;
}

.bg-block__red::after {
  position: relative;
  top: 5px;
  display: block;
  content: "";
  background-image: url(../img/bottom-left.jpg);
  background-size: 49px 45px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.bg-block__blue::after {
  position: relative;
  top: 5px;
  left: 248px;
  display: block;
  content: "";
  background-image: url(../img/bottom-right.jpg);
  background-size: 49px 45px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

footer .img_red,
footer .img_blue {
  height: 95px;
  width: 98px;
  display: block;
}
